@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.navbar{
 /* height:100vh; */
margin:0 auto;
display:flex;
width:90%;
justify-content: space-between;
align-items: center;
background-color:white;
padding:15px 50px ;
z-index: 300;  
} 
.sidebar{
    display:none;
}

.logo-conatiner{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}


.logo{
    height:41px;
    width:108.89px;
}


.nav-links{
    list-style: none;
    /* flex:; */
    font-family:'Poppins';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.nav-links li{
    cursor:pointer;
}

.li_1 {
    display:flex;
    align-items: center;
    position: relative;
    gap:0;

}
.dropdownlist{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    background-color:#dbeddd;
    list-style:none;
    color:black;
    padding: 10px 15px;
    margin:auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 20;
    min-width:100px;

}
.dropdownlist li{
    padding: 8 10px;
    gap:20px;
    /* border-bottom: 1px solid black ; */
}
.dropdownlist li:hover{
    color: #39DB4A;
    width:100%;
}
.li_1:hover  .dropdownlist{
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align : center;

}
.li_1 img{ 
    margin:12px;
    height:5.66px;
    width:11.66;


}



.li_2 {
    display:flex;
    align-items: center;
    gap:0;
}
.li_2 img{ 
    margin:12px;
    height:5.66px;
    width:11.66;

}
/* .services{
    display: flex;

}
.services img{
    margin:12px;
    height:5.66px;
    width:11.66;
} */
li:hover{
    color:#39DB4A;
}

.search-box{
    display:flex;
   align-items: center;
    gap:1.5rem;
}
.search-box img{
    height: 32px;
    width:32;
    cursor:pointer;
}
.circle{
    display:flex;
    align-items: center;
    justify-content: center;
}
.circle img{
    margin-left:0px;
}
.circle p{
height:20px;
width:20px;
font-size:14px;
border-radius: 50%;
border:0 solid;
background:#39DB4A;
color:white;
position:relative;
right:7px;
bottom:12px;
text-align: center;
align-items: center;
}
input{
    border-color:white;
    border:none;
    padding:5px ;
    border-radius:6px;
}
.contact{
    font-family:'Poppins';
    display:flex;
    height:60px;
    width: 179px;
    gap:13px;
    color:white;
    background-color: #39DB4A;
    /* padding:0px 35px; */
     border-radius: 40px; 
}
.contact img{
    height: 24px;
    width:24px;
    margin-top:20px;
    margin-left: 42px;
}
.contact p{
    margin-top:20px;
    /* margin-left: 42px; */
    height:30px;
    width:82px;
}
.hideicon{
    display:none;
}
/* 
@media(max-width:1240px){
    .navbar{
        width:100%;
    }
} */



@media (max-width :1280px) {
    .navbar{
       width:90%;
        /* padding:10px; */
        /* margin:auto; */
        justify-content: space-between;
    align-items: center;
    position:relative;
    /* right:135px; */
    gap:3rem;
        /* background-color:blue; */
       }
       .nav-links{
         list-style: none;
         /* flex:; */
         font-family:'Poppins';
         font-size: 15px;
         display: flex;
         justify-content: center;
         align-items: center;
         gap:2rem;
       }
       .logo-conatiner{
         display:flex;
         justify-content:center;
         align-items: center;
       }
       
       .logo{
        height:100%;
        width:100%;
       }
       
       .contact{
         width:150px;
       }
       .contact img{
        height: 22px;
        width:22px;
        margin-top:20px;
        margin-left: 42px;
    } 
    .contact p{

        position: relative;
        right:10px;
        /* margin-top:20px;
        margin-right: 42px; */

    }

    .search-box{
        position:relative;
        /* right:100px; */
    }
       input{
        width:150px;
       }
    
}

@media (max-width:768px){

    .navbar{
        width:100%;
         /* padding:10px; */
         /* margin:auto; */
         justify-content: space-between;
     align-items: center;
     position:relative;
     /* right:135px; */
     gap:2rem;
         /* background-color:blue; */
        }
        .nav-links{
          list-style: none;
          /* flex:; */
          font-family:'Poppins';
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap:2rem;
          display:none;
        }
        .logo-conatiner{
          display:flex;
          justify-content:center;
          align-items: center;
          gap:2rem;
        }
        
        .logo{
         height:70%;
         width:60%;
        }
        
        .contact{
          width:130px;
        }
        .contact img{
         height: 18px;
         width:18px;
         margin-top:20px;
         margin-left: 25px;
     } 
     .contact p{
 
         position: relative;
         right:7px;

         /* margin-top:20px;
         margin-right: 42px; */
 
     }
 
     .search-box{
         position:relative;
         /* right:100px; */
     }
        input{
         width:150px;
        }
     
        .hideicon{
            display:inline-block;
            height:100%;
            width:100%
        }
        .sidebar{
            position:fixed;
            top:0px;
            left:-300px;
            margin:0 ;
            width:250px;
            height:110%;
            z-index:999;
            display: flex;
            align-items:start;
            justify-content: flex-start;
            flex-direction: column;
            background-color: #dbeddd;
            gap:2rem;
            list-style: none;
            font-weight: 600;
            /* left:0px; */
            transition: left 0.3s ease-in-out;

          cursor:pointer;

         }
        /* .sidebar li:hover{
            color:#39DB4A;
        } */
            /* transition:color 0.1s ease; */
        
            /* .sidebar li::after{
                position: absolute;
                height: 0;
                width: 0;
                color:#39DB4A;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
  pointer-events: none;


            }
            .sidebar li:hover{
                opacity: 1;
            } */

         .sideimg{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:70px;
            margin-top:40px;
         }
         /* .sideimg img{
            height:100%;
            width:70px;
         } */
         .sidebar.show {
            left: 0;
          }
        
          .colorDrop{
            position:fixed;
            top:0;
            left:0;
            width:110%;
            height:110%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 998;
            /* backdrop-filter: blur(2px);  */

          }

         
}






@media (max-width:640px){

    .navbar{
        width:100%;
         /* padding:10px; */
         /* margin:auto; */
         justify-content: space-between;
     align-items: center;
     position:relative;
     /* right:135px; */
     gap:2rem;
         /* background-color:blue; */
        }
        .nav-links{
          list-style: none;
          /* flex:; */
          font-family:'Poppins';
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap:2rem;
          display:none;
        }
        .logo-conatiner{
          display:flex;
          justify-content:center;
          align-items: center;
          gap:2rem;
        }
        
        .logo{
         height:70%;
         width:80%;
        }
        
        .contact{
          width:130px;
        }
        .contact img{
         height: 18px;
         width:18px;
         margin-top:20px;
         margin-left: 25px;
     } 
     .contact p{
 
         position: relative;
         right:7px;

         /* margin-top:20px;
         margin-right: 42px; */
 
     }
 
     .search-box{
         position:relative;
         /* right:100px; */
     }
        input{
         width:150px;
        }
     
        .hideicon{
            display:inline-block;
            height:110%;
            width:110%
        }
        .sidebar{
            position:fixed;
            top:0px;
            left:-405px;
            margin:0 ;
            width:300px;
            height:110%;
            z-index:999;
            display: flex;
            align-items:start;
            justify-content: flex-start;
            flex-direction: column;
            background-color: #dbeddd;
            gap:2rem;
            list-style: none;
            /* left:0px; */
            transition: left 0.3s ease-in-out;
            font-size: 18px;
            font-weight: 600;

         }
        .sidebar li:hover{
            color:#39DB4A;
        }
         .sideimg{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:70px;
            margin-top:40px;
         }
         /* .sideimg img{
            height:100%;
            width:70px;
         } */
         .sidebar.show {
            left: 0;
          }
        
          .colorDrop{
            position:fixed;
            top:0;
            left:0;
            width:110%;
            height:110%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 998;
            /* backdrop-filter: blur(2px);  */

          }

         
}


@media (max-width:480px){

    .navbar{
        width:100%;
         /* padding:10px; */
         /* margin:auto; */
         justify-content: space-between;
     align-items: center;
     position:relative;
     /* right:135px; */
     /* gap:1rem; */
         /* background-color:blue; */
        }
        .nav-links{
          list-style: none;
          /* flex:; */
          font-family:'Poppins';
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap:2rem;
          display:none;
        }
        .logo-conatiner{
          display:flex;
          justify-content:center;
          align-items: center;
          gap:2rem;
        }
        
     .logo-conatiner .logo{
         height:70px;
         width:80%;
        }
      /* .logo{height:41px;
    width:100%;} 
         */
        .contact{
            /* height:50px; */
          width:180px;
        }
        .contact .phone{
         height: 30px;
         width:30px;
         margin-top:17px;
         margin-left: 25px;
     } 
     .contact p{
 
         position: relative;
         right:7px;
         font-size:20px;

         /* margin-top:20px;
         margin-right: 42px; */
 
     }
 
     .search-box{
         position:relative;
         /* right:100px; */
     }
        input{
         width:150px;
        }
     
.search-box img{
    height: 42px;
    width:42px;
    cursor:pointer;
}
.circle{
    display:flex;
    align-items: center;
    justify-content: center;
}
.circle img{
    margin-left:0px;
}
.circle p{
height:25px;
width:25px;
font-size:18px;
border-radius: 50%;
border:0 solid;
background:#39DB4A;
color:white;
position:relative;
right:7px;
bottom:12px;
text-align: center;
align-items: center;
}


        .hideicon{
            display:inline-block;
            height:50px;
            width:50px;
        }
        .sidebar{
            position:fixed;
            top:0px;
            left:-405px;
            margin:0 ;
            width:300px;
            height:110%;
            z-index:999;
            display: flex;
            align-items:start;
            justify-content: flex-start;
            flex-direction: column;
            background-color: #dbeddd;
            gap:2rem;
            list-style: none;
            /* left:0px; */
            transition: left 0.3s ease-in-out;
            font-size: 25px;
            font-weight:600;

         }
        .sidebar li{
            transition: all 0.2s ease;
        }
        .sidebar li:hover{
            color:#39DB4A;
            
        }
        
         .sideimg{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:70px;
            margin-top:40px;
         }
         /* .sideimg img{
            height:100%;
            width:70px;
         } */
         .sidebar.show {
            left: 0;
          }
         .sidebar .logo{
         height:70px;
         width:80%;
        }
        
          .colorDrop{
            position:fixed;
            top:0;
            left:0;
            width:110%;
            height:110%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 998;
            /* backdrop-filter: blur(2px);  */

          }

         
}

